/intelika.fontAwesome.Core/.vs/
/intelika.fontAwesome.Core/bin/
/intelika.fontAwesome.Core/obj/
/test/bin/
/test/obj/
/iconMaker/obj
/intelika.fontawesome.wpf/bin
/intelika.fontawesome.wpf/obj
/wpfTest/bin
/wpfTest/obj
/iconMaker/bin
